In [1]:
import pandas as pd
# (symbol, date, open, measure_midday, measure_afternoon, close, volume)
data1 = pd.DataFrame([[16,"2019-11-18",1.0, 1.0, 1.0,3.0,1.0],
                     [13,"2019-11-18",1.0, 1.0, 2.0,2.0,1.0],
                     [15,"2019-11-18",1.0, 1.0, 9.0,4.0,1.0],
                     [1,"2019-11-18",3.0, 1.0, 4.0,5.0,2.0]],
                     columns=["id_pager","numero","area","fecha de creacion", "nombre_cliente", "region", "categoria"] )

# (symbol, company_name) 

data2 = pd.DataFrame([[2019,11,11,11,11,11,16,"tuvieja",19],
                      [2019,11,11,11,11,11,16,"tuvieja",19],
                      [2019,11,11,11,11,11,16,"tuvieja",19],
                      [2019,11,11,11,11,11,13,"tuvieja",19],
                      [2019,10,11,11,11,11,13,"tuvieja",19],
                      [2019,11,11,11,11,11,15,"tuvieja",18],
                      [2019,11,11,11,11,11,13,"tuvieja",19],
                      [2019,10,11,11,11,11,13,"tuvieja",19],
                      [2019,11,11,11,11,11,15,"tuvieja",18],
                      [2019,11,11,11,11,11,13,"tuvieja",19],
                      [2019,11,11,11,11,11,13,"tuvieja",1],
                      [2019,11,11,11,11,11,15,"tuvieja",18],
                      [2019,11,11,11,11,11,15,"tuvieja",19],
                      [2019,10,11,11,11,11,1,"tuvieja",19],
],
                     columns=["año", "mes", "dia", "hora", "minutos", "segundos", "id_pager", "mensaje", "num_origen"])

In [2]:
#clientes.csv
#id_pager,numero,area,fecha de creacion, nombre cliente, region, categoria

#eventos.csv
#año mes dia hora minutos segundos, id_pager, mensaje, num_origen

a) --> Region que tiene activos (ultimo mes con mensajes)

In [3]:
ata2 = data2[(data2["año"] == 2019) & (data2["mes"]>10)]
data2

     año  mes  dia  hora  minutos  segundos  id_pager  mensaje  num_origen
0   2019   11   11    11       11        11        16  tuvieja          19
1   2019   11   11    11       11        11        16  tuvieja          19
2   2019   11   11    11       11        11        16  tuvieja          19
3   2019   11   11    11       11        11        13  tuvieja          19
4   2019   10   11    11       11        11        13  tuvieja          19
5   2019   11   11    11       11        11        15  tuvieja          18
6   2019   11   11    11       11        11        13  tuvieja          19
7   2019   10   11    11       11        11        13  tuvieja          19
8   2019   11   11    11       11        11        15  tuvieja          18
9   2019   11   11    11       11        11        13  tuvieja          19
10  2019   11   11    11       11        11        13  tuvieja           1
11  2019   11   11    11       11        11        15  tuvieja          18
12  2019   11   11    11       11        11        15  tuvieja          19
13  2019   10   11    11       11        11         1  tuvieja          19

In [4]:
merged = pd.merge(data1,data2,on="id_pager",how="right")

In [5]:
result = merged.groupby("region",as_index=False).agg({"id_pager":"count"})

In [6]:
result.nlargest(1,"id_pager").region

0    2.0
Name: region, dtype: float64

 # B

In [7]:
a = merged.groupby(["id_pager","num_origen"]).count().reset_index()

In [8]:
total = len(a.id_pager.unique())

In [9]:
a = a.groupby("id_pager").count()

In [10]:
result = a[a["num_origen"]==1]

In [11]:
pagers_unicos = len(result.index)

In [12]:
pagers_unicos/total

0.5

# otra forma

In [13]:
pagers_distintos = merged.id_pager.unique()
pagers_distintos = len(pagers_distintos)

In [14]:
b = merged.groupby("id_pager").num_origen.unique().reset_index()

In [15]:
b.columns = ["id_pager","distintos"]

In [16]:
unicos = b.distintos.map(lambda x: len(x)==1).sum()

In [17]:
unicos/pagers_distintos

0.5