In [1]:
import pandas as pd
# (symbol, date, open, measure_midday, measure_afternoon, close, volume)
data1 = pd.DataFrame([[16,"2019-11-18",1.0, 1.0, 1.0,3.0,1.0],
                     [13,"2019-11-18",1.0, 1.0, 2.0,2.0,1.0],
                     [15,"2019-11-18",1.0, 1.0, 9.0,4.0,1.0],
                     [1,"2019-11-18",3.0, 1.0, 4.0,5.0,2.0]],
                     columns=["id_pager","numero","area","fecha de creacion", "nombre_cliente", "region", "categoria"] )

# (symbol, company_name) 

data2 = pd.DataFrame([[2019,11,11,11,11,11,16,"tuvieja",19],
                      [2019,11,11,11,11,11,16,"tuvieja",19],
                      [2019,11,11,11,11,11,16,"tuvieja",19],
                      [2019,11,11,11,11,11,13,"tuvieja",19],
                      [2019,10,11,11,11,11,13,"tuvieja",19],
                      [2019,11,11,11,11,11,15,"tuvieja",18],
                      [2019,11,11,11,11,11,13,"tuvieja",19],
                      [2019,10,11,11,11,11,13,"tuvieja",19],
                      [2019,11,11,11,11,11,15,"tuvieja",18],
                      [2019,11,11,11,11,11,13,"tuvieja",19],
                      [2019,11,11,11,11,11,13,"tuvieja",1],
                      [2019,11,11,11,11,11,15,"tuvieja",18],
                      [2019,11,11,11,11,11,15,"tuvieja",19],
                      [2019,10,11,11,11,11,1,"tuvieja",19],
],
                     columns=["año", "mes", "dia", "hora", "minutos", "segundos", "id_pager", "mensaje", "num_origen"])

In [14]:
#clientes.csv
#id_pager,numero,area,fecha de creacion, nombre cliente, region, categoria

#eventos.csv
#año mes dia hora minutos segundos, id_pager, mensaje, num_origen

a) --> Region que tiene activos (ultimo mes con mensajes)

In [52]:
data2 = data2[(data2["año"] == 2019) & (data2["mes"]>10)]
data2.iloc[0,:]

año              2019
mes                11
dia                11
hora               11
minutos            11
segundos           11
id_pager           16
mensaje       tuvieja
num_origen         19
Name: 0, dtype: object

In [16]:
merged = pd.merge(data1,data2,on="id_pager",how="right")

In [17]:
result = merged.groupby("region",as_index=False).agg({"id_pager":"count"})

In [18]:
result.nlargest(1,"id_pager").region

0    2.0
Name: region, dtype: float64

 # B

In [31]:
a = merged.groupby(["id_pager","num_origen"]).count().reset_index()

In [32]:
total = len(a.id_pager.unique())
a.id_pager.unique()

array([13, 15, 16])

In [21]:
a = a.groupby("id_pager").count()

In [33]:
result = a[a["num_origen"]==1]
result

,id_pager,num_origen,numero,area,fecha de creacion,nombre_cliente,region,categoria,año,mes,dia,hora,minutos,segundos,mensaje
0,13,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [23]:
pagers_unicos = len(result.index)

In [24]:
pagers_unicos/total

0.3333333333333333

# otra forma

In [34]:
pagers_distintos = merged.id_pager.unique()
pagers_distintos = len(pagers_distintos)

In [35]:
b = merged.groupby("id_pager").num_origen.unique().reset_index()
b

   id_pager num_origen
0        13    [19, 1]
1        15   [18, 19]
2        16       [19]

In [27]:
b.columns = ["id_pager","distintos"]

In [28]:
unicos = b.distintos.map(lambda x: len(x)==1).sum()

In [29]:
unicos/pagers_distintos

0.3333333333333333