El GCPD (Gotham City Police Dept) recolecta la información de casos policiales que
acontecen en Ciudad Gótica. Esta información se encuentra guardada en un dataframe con el
siguiente formato: (fecha, id_caso, descripcion, estado_caso, categoria, latitud, longitud). Los
posibles estados que puede tener un caso son 1: caso abierto, 2: caso resuelto, 3: cerrado sin
resolución. Las fechas se encuentran en el formato YYYY-MM-DD. 

Por otro lado el
comisionado Gordon guarda un registro detallado sobre en cuáles casos fue activada la
batiseñal para pedir ayuda del vigilante, Batman. Esta información se encuentra en un
Dataframe con el siguiente formato (id_caso, respuesta), siendo campo respuesta si la señal
tuvo una respuesta positiva (1) o negativa (0) de parte de él 


El sector encargado de las
estadísticas oficiales del GCPD quiere con esta información analizar las siguientes situaciones:

A. Tasa de resolución de casos de la fuerza policial por categoría de caso (considerando
aquellos casos en los que no participó Batman).

B. Tasa de resolución de casos con la ayuda de Batman (considerando que aquellos casos
en los que fue llamado con la batiseñal, participó en la resolución).

C. Indicar el mes del año pasado en el que Batman tuvo mayor participación en la
investigación de casos.

In [115]:
import pandas as pd
#caso (fecha, id_caso, descripcion, estado_caso, categoria, latitud, longitud)
caso = pd.read_csv("caso.csv")

#señal (id_caso, respuesta)
señal = pd.read_csv("señal.csv")

In [142]:
merged = pd.merge(caso,señal,on="id_caso",how="left")

In [143]:
# resuelto == 2
a = merged.groupby(["categoria","estado_caso"]).agg({"id_caso":"count"})

In [144]:
b = a.unstack(fill_value=0)

In [151]:
b.reset_index()

             categoria id_caso
estado_caso                  1  2  3
0            Asesinato       3  4  2
1               Fraude       3  2  0
2                 Robo       2  1  2

In [69]:
a

,fecha,id_caso,descripcion,estado_caso,categoria,latitud,longitud,respuesta,cant_casos,casos_resueltos
4,2017-06-23,5,Desc5,2,Fraude,40.71193,-73.59812,NaN,5,1
5,2017-07-08,6,Desc6,2,Asesinato,40.76393,-73.51294,0.0,9,4
12,2017-07-12,13,Desc13,2,Asesinato,39.77283,-74.92351,0.0,9,4
16,2017-07-09,17,Desc17,2,Asesinato,40.61923,-72.12512,0.0,9,4
18,2017-07-09,19,Desc19,2,Asesinato,39.15973,-72.23589,NaN,9,4

In [68]:
merged["casos_resueltos"] = merged.groupby("categoria").id_caso.transform(lambda x: x.count())

/home/peter/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [70]:
def funcion(x):
    return x["casos_resueltos"]/x["cant_casos"]

In [73]:
merged.groupby("categoria").apply(funcion)

categoria
Asesinato  5     0.444444
           12    0.444444
           16    0.444444
           18    0.444444
Fraude     4     0.200000
dtype: float64